venv
*.pyc
.env
.DS_Store
db.sqlite3
media
tmsenv
carriers.py
.idea/workspace.xml
celerybeat.pid
dump.rdb
.idea/misc.xml
.tmp/
.idea
.coverage
htmlcov/
.pycharmrc
secrets/prod/potr-tms-secrets-prod.yaml
secrets/prod/prod.env
secrets/stage/potr-tms-secrets-stage.yaml
secrets/stage/stage.env
secrets/google_creds.json

*__pycache__
.gitsecret/keys/random_seed
!*.secret
